@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-1">Welcome</h1>

    <h4>Our Group members</h4>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Student Number</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Brilliant</td>
                <td>Motjiang</td>
                <td>s225065002</td>
            </tr>
            <tr>
                <td>Kgaladi</td>
                <td>Radingwane</td>
                <td>s223372005</td>
            </tr>
            <tr>
                <td>Lucy</td>
                <td>Shai</td>
                <td>s220978484</td>
            </tr>
            <tr>
                <td>Tshiamo</td>
                <td>Mothokho</td>
                <td>s225258358</td>
            </tr>
        </tbody>
    </table>
</div>
